@using DTOs;
@model EcosystemApp.Models.VMEcosystem

@{
    ViewData["Title"] = "AddEcosystem";
}
<h3 style="color: red">@ViewBag.Error</h3>

<h3 class="text-dark"><i><b>Nuevo Ecosistema</b></i></h3>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEcosystem" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ecosystem.Name" class="control-label">Nombre del ecosistema</label>
                <input asp-for="Ecosystem.Name" class="form-control" />
                <span asp-validation-for="Ecosystem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ecosystem.Area" class="control-label"></label>
                <input type="number" asp-for="Ecosystem.Area" class="form-control" />
                <span asp-validation-for="Ecosystem.Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ecosystem.GeoDetails.Latitude" class="control-label">Latitud</label>
                <input type="string" asp-for="Ecosystem.GeoDetails.Latitude" class="form-control" />
                <span asp-validation-for="Ecosystem.GeoDetails.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ecosystem.GeoDetails.Longitude" class="control-label">Longitud</label>
                <input type="string" asp-for="Ecosystem.GeoDetails.Longitude" class="form-control" />
                <span asp-validation-for="Ecosystem.GeoDetails.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ecosystem.Description" class="control-label">Descripción</label>
                <textarea asp-for="Ecosystem.Description" class="form-control"></textarea>
                <span asp-validation-for="Ecosystem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgEco" class="control-label">Imagen del ecosistema</label>
                <input asp-for="ImgEco" class="form-control" />
                <span asp-validation-for="ImgEco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ecosystem.Security" class="control-label">Nivel de seguridad (0-100)</label>
                <input type="number" asp-for="Ecosystem.Security" class="form-control" />
                <span asp-validation-for="Ecosystem.Security" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Paises</label>
                <select name="IdSelectedCountry" multiple>
                    @foreach (CountryDTO country in Model.Countries)
                    {
                        if (Model.IdSelectedCountry.Contains(country.Id))
                        {
                            <option selected value="@country.Id">@country.Name</option>
                        }
                        else
                        {
                            <option value="@country.Id">@country.Alpha3</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Amenazas</label>
                <br />
                <select name="IdSelectedThreats" multiple>
                    @foreach (ThreatDTO threat in Model.Threats)
                    {
                        if (Model.IdSelectedThreats.Contains(threat.Id))
                        {
                            <option selected value="@threat.Id">@threat.Name</option>
                        }
                        else
                        {
                            <option value="@threat.Id">@threat.Name</option>
                        }
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
